li {
	display: inline;
}

body {
    background-image: url("../images/seigaiha.png");
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

a {
	color: #777777;
}

p {
	padding: 0 10px 25px 10px;
	border: 10px;
	line-height: 25px;
}

img {
 
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 10px;
	font-size: 24px;
	color: #4aaaa5;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 10px;
	font-size: 18;
	color: #4aaaa5;
}

h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.header {
	background-color: #ffffff;
	padding-top: 40px;
	padding-bottom: 40px;
	border: 0px;
	margin: 0px;
	position: relative;
	width: 100%;
}

.name {
	position: absolute;
    left: 60px;
    bottom: 0px;
    background-color: #4aaaa5;
    padding: 29px;
    width: 200px;
    height: 23px;
    font-size: 24px;
	color: #ffffff;
	margin: 0;
}

.navigation {
	position: absolute;
	right: 20%;
	bottom: 40%;
	float: left;
	font-size: 15px;
}

.wrapper {
	position: relative;
	width: 100%;
}

.container{
	width: 600px;
	margin: 0;
	padding: 20px 20px 100px 20px;
	background-color: #ffffff;
	position: absolute;
	left: 60px;
}

.image {
	float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 10px;
    margin: 0;
}

.sidebar {
	background-color: #ffffff;
	padding: 40px;
	border: 20px;
	margin: 0px;
	position: absolute;
	left: 740px;
}

.portfolio {
	float: left;
	position: relative;
	padding-right: 25px;
	padding-bottom: 25px;
}

.banner {
	position: absolute;
    bottom: 28%;
    background-color: #4aaaa5;
    padding: 15px;
    width: 170px;
    font-size: 18px;
    text-align: center;
	color: #ffffff;
	margin: 0;
}

.footer {
	clear: left;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 10px;
	position: fixed;
    bottom: 0px;
    margin: 0;
    text-align: center;
    width: 100%;
    background-color: rgb(121, 121, 121)
}